@font-face {
    font-family: "Figtree";
    src:url(./assets/fonts/Figtree-VariableFont_wght.ttf)
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree";
}
.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    -webkit-box-shadow: 15px 15px 0px 1px #000000; 
    box-shadow: 15px 15px 0px 1px #000000;
}
.box img {
    border-radius: 12px;
    margin-bottom: 30px;
    height: max-content;
}
.topic {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    width: 65px;
    text-align: center;
    padding: 8px 10px;
    border-radius: 8px;
}
.date {
    font-weight: 600;
    margin-bottom: 20px;
}
h2 {
    font-weight: 800;
    margin-bottom: 20px;
    cursor: pointer;

}
h2:hover {
    color: hsl(47, 88%, 63%);
}
.desc {
    font-size: 16px;
    font-weight: 600;
    color: hsl(0, 0%, 50%);
    margin-bottom: 30px;
}
.writer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    
}
.writer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0;
}
.writer p {
    font-weight: 800;
    padding-left: 15px;
}
@media screen and (min-width:1440px) {
    .box {
        width: 350px;
        padding: 20px;
    } 
}